name: Test CI
on:
  pull_request:
    branches:
      - "develop"
  push:
    branches:
      - "develop"
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON: ["3.10", "3.11", "3.12", "3.13"]
    env:
      OS: ubuntu-latest
      PYTHON: "${{ matrix.PYTHON }}"
      POETRY: "2.1.1"
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
    - name: Checkout Branch
      uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: ${{ env.PYTHON }}
    - name: Setup Poetry
      uses: abatilo/actions-poetry@v3
      with:
        poetry-version: ${{ env.POETRY }}
    - name: Install Dependencies
      run: poetry install --with ci
    - name: Run Linting
      run: poetry run pylint $(git ls-files '**/*.py')
    - name: Run Test Suite
      run: poetry run pytest
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ env.CODECOV_TOKEN }}
        directory: ./coverage/reports/
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        files: ./coverage.xml,./coverage1.xml,./coverage2.xml,!./cache
        flags: unittests
        name: codecov-umbrella
        verbose: true

